# Project : Bank Credit Card Default Prediction

# Problem Statement: Aim of the project is that, bank focused on the number of                                       customers using their credit service & drawback is that                                         customers are not being able to payback the credit bill                                           amount in the given time period.

## Take dataset

 A) Extract feature
     a) feature and starget shoukd not contain null value
     b) feature should be numeric in nature
     c) feature should have some rows and columns
     d) feature should be in the form of dataframe
 B) Spliting data in traininf and testing dataset
     a) Feature should in same scale
 C) Train data in training dataset
 D) Test data in testing dataset

In [1]:
import pandas as pd

In [50]:
data=pd.read_csv(r"C:\Users\RAMA\Desktop\ml projects\Bank credit card python project\BankCrediTCard.csv")

In [3]:
data.head()

,Customer ID,Credit_Amount,Gender,Academic_Qualification,Marital,Age_Years,Repayment_Status_Jan,Repayment_Status_Feb,Repayment_Status_March,Repayment_Status_April,...,April_Bill_Amount,May_Bill_Amount,June_Bill_Amount,Previous_Payment_Jan,Previous_Payment_Feb,Previous_Payment_March,Previous_Payment_April,Previous_Payment_May,Previous_Payment_June,Default_Payment
0,1,20000.0,2,2,1,24,2,2,0,0,...,0.0,0.0,0.0,0.0,679.0,0.0,0.0,0.0,0.0,1
1,2,220000.0,2,2,2,26,0,2,0,0,...,3272.0,3455.0,3261.0,0.0,2000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,24332.0,14848.0,15548.0,1619.0,2500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,29324.0,28858.0,28547.0,3000.0,2029.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,0,0,0,0,...,20940.0,18146.0,18131.0,3000.0,36672.0,10000.0,9000.0,689.0,679.0,0

# separate data in feature and target

## Target column is y which is Default_Payment

In [4]:
y=data['Default_Payment']

## Feature columns are remaining columns except Default_Payment

In [5]:
x=data.drop("Default_Payment",axis=1)

# step A

## a) feature and target should not have null value

In [6]:
y.isna().sum()

0

In [7]:
x.isna().sum()

Customer ID               0
Credit_Amount             0
Gender                    0
Academic_Qualification    0
Marital                   0
Age_Years                 0
Repayment_Status_Jan      0
Repayment_Status_Feb      0
Repayment_Status_March    0
Repayment_Status_April    0
Repayment_Status_May      0
Repayment_Status_June     0
Jan_Bill_Amount           0
Feb_Bill_Amount           0
March_Bill_Amount         0
April_Bill_Amount         0
May_Bill_Amount           0
June_Bill_Amount          0
Previous_Payment_Jan      0
Previous_Payment_Feb      0
Previous_Payment_March    0
Previous_Payment_April    0
Previous_Payment_May      0
Previous_Payment_June     0
dtype: int64

### there is no null value then go to next

## b) feature should be numeric in nature

In [8]:
x.dtypes

Customer ID                 int64
Credit_Amount             float64
Gender                      int64
Academic_Qualification      int64
Marital                     int64
Age_Years                   int64
Repayment_Status_Jan        int64
Repayment_Status_Feb        int64
Repayment_Status_March      int64
Repayment_Status_April      int64
Repayment_Status_May        int64
Repayment_Status_June       int64
Jan_Bill_Amount           float64
Feb_Bill_Amount           float64
March_Bill_Amount         float64
April_Bill_Amount         float64
May_Bill_Amount           float64
June_Bill_Amount          float64
Previous_Payment_Jan      float64
Previous_Payment_Feb      float64
Previous_Payment_March    float64
Previous_Payment_April    float64
Previous_Payment_May      float64
Previous_Payment_June     float64
dtype: object

## feature and target is numeric in nature go to next step

## c) feature should be in form of array or dataframe

In [9]:
type(x)

pandas.core.frame.DataFrame

# d) feature should contains some rows and columns

In [10]:
x.shape

(30000, 24)

# step B
##  spliting data in training and testing dataset

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,random_state=12,test_size=.3)

## feature should contain on same scale

In [13]:
from sklearn.preprocessing import MinMaxScaler

In [14]:
scaler=MinMaxScaler()

In [15]:
xtrain=scaler.fit_transform(xtrain)

In [16]:
xtest=scaler.transform(xtest)

# step C
## training data on train data set

# logistic regression

In [17]:
from sklearn.linear_model import LogisticRegression

In [18]:
model=LogisticRegression()

In [19]:
model.fit(xtrain,ytrain)

C:\Users\RAMA\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

# step D
## testing data on testing dataset

In [20]:
model.score(xtest,ytest)

0.8208888888888889

### accuracy became 82

# Now next model is
## Decission tree model

In [21]:
from sklearn.tree import DecisionTreeClassifier

In [22]:
model=DecisionTreeClassifier()

In [23]:
model.fit(xtrain,ytrain)

DecisionTreeClassifier()

In [24]:
model.score(xtest,ytest)

0.7202222222222222

## accuracy become 71.777

# random forest classifier

In [25]:
from sklearn.ensemble import RandomForestClassifier

In [26]:
model=RandomForestClassifier(n_estimators=50)

In [27]:
model.fit(xtrain,ytrain)

RandomForestClassifier(n_estimators=50)

In [28]:
model.score(xtest,ytest)

0.8181111111111111

## Accuracy became 81.52

# Ada Boost on Decision Tree Classifier

In [29]:
from sklearn.ensemble import AdaBoostClassifier

In [30]:
model=AdaBoostClassifier(n_estimators=50)

In [31]:
model.fit(xtrain,ytrain)

AdaBoostClassifier()

In [32]:
model.score(xtest,ytest)

0.817

## Accuracy came 81.7

# K-Nearest Neighbour Model

In [33]:
from sklearn.neighbors import KNeighborsClassifier

In [34]:
model=KNeighborsClassifier(n_neighbors=7)

In [35]:
model.fit(xtrain,ytrain)

KNeighborsClassifier(n_neighbors=7)

In [36]:
model.score(xtest,ytest)

0.8033333333333333

### this modelling takes time near by 3-5 mins
#### will search reason

## Accuracy became 80.33

# Applying Gradient Boosting

In [37]:
from sklearn.ensemble import GradientBoostingClassifier

In [38]:
model=GradientBoostingClassifier(random_state=12)

In [39]:
model.fit(xtrain,ytrain)

GradientBoostingClassifier(random_state=12)

In [40]:
model.score(xtest,ytest)

0.8228888888888889

## Accuracy became 82.28

# Support Vector Machine Model

In [41]:
from sklearn.svm import SVC

In [42]:
model=SVC()

In [43]:
model.fit(xtrain,ytrain)

SVC()

In [44]:
model.score(xtest,ytest)

0.8154444444444444

## Accuracy is 81.55